/*
Theme Name: fotowall
Theme URI: http://fotowall.net/theme/wordpress
Description: 
Version: 0.1
Tags: 
*/

/* Text meant only for screen readers */
.screen_reader_text {
	position: absolute;
	left: -9000px;
	text-indent: -9000px;
	overflow:hidden;
}

/* = Layout
-------------------------------------------------------------- */

body {
	position: relative;
	padding-top: 40px;
	font: 12px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* = Header
-------------------------------------------------------------- */

#header {
}
	/* for Admin bar */
	body.admin-bar #header { }
		body.admin-bar #header .navbar-fixed-top { top:28px ;}

		#header .nav>li .home { display:block; overflow:hidden; width:15px; height:18px; margin-left:-5px; margin-right:-5px; text-indent:-1000px; background: url("./images/icon/home.png") no-repeat left center; }

#search { width:224px; text-align:right; }
	#search label { display:none; }
	#search form { margin:0; }
	#search div { padding-top:9px; letter-spacing:-3px; }
		#search input { margin-bottom:0; }
		#search input[type="text"] { width:160px; border-radius:0; font-size:11px; background:url("./images/normal/bg_search_text_right.png") no-repeat right #535353; border:0; border-top:1px solid #494949; border-bottom:1px solid #666666; color:#b9b9b9; height:12px; padding-left:5px; padding-right:5px; }
			#search input[type="text"]:focus { background-color:#585858; color:#ccc; }

		#search input[type="submit"] { vertical-align:top; cursor:pointer; width:54px; color:#dcdcdc; font-size:11px; line-height:19px; border:0; border-bottom:1px solid #343434; border-right:1px solid #343434; height:22px; background: url("./images/normal/bg_search_button.png") no-repeat #504f50; }
			#search input[type="submit"]:active { background:#333; border-right:1px solid #444; border-bottom:1px solid #444; color:#666; box-shadow:inset 1px 1px 1px #222; }


/* = Sub Header
-------------------------------------------------------------- */

#sub_header {
	padding:40px 33px 40px 33px;
}
	#sub_header .site_title { float:left; font-size:21px; line-height:21px; font-weight:bold; margin:0; }
		#sub_header .site_title a { color:#000; }
	#sub_header .site_description { float:left; line-height:21px; margin:0px 10px; background:url("./images/normal/bg_title_sep.png") no-repeat left center;  font-size:11px; color:#999; padding-left: 14px; }



/* = View Style
-------------------------------------------------------------- */

.gutter-sizer { width: 50px; }
.width-sizer { width: 280px; }

.post_view_style_masonry {}
.post_view_style_gallery {}
.post_view_style_post {}
.post_view_style_mosaic {}

.post_view_style_masonry .post { /*visibility:hidden;*/ width:280px;  }
	.post_view_style_masonry .post h3 { font-size:15px; line-height:15px; margin:0; }
	.post_view_style_masonry .post p { margin-top:10px; margin-bottom:0; }
		.post_view_style_masonry .post_content { border-top:1px dotted #ddd; padding-top:20px; padding-bottom:15px; }

		.post_view_style_masonry .row_1 .post_content { border-top:0; padding-top:0; }

	.post_view_style_masonry .have_thumbnail {  }
		.post_view_style_masonry .have_thumbnail .thumbnail_wrap { margin-bottom:15px; position:relative; }
			.post_view_style_masonry .have_thumbnail .thumbnail_wrap a { position:absolute; left:0; top:0; width:100%; height:100%; }
			.post_view_style_masonry .have_thumbnail .thumbnail_wrap a:hover { background:rgba(0,0,0,0.5); }

		.post_view_style_masonry .have_thumbnail a { color:#000; text-decoration:none; }
		.post_view_style_masonry .have_thumbnail a:hover { text-decoration:underline; }

	.post_view_style_masonry .not_have_thumbnail { padding-bottom:6px; }
		.post_view_style_masonry .not_have_thumbnail .inverse { background:#000; color:#fff; padding:15px; }
		.post_view_style_masonry .not_have_thumbnail a { color:#fff; text-decoration:none; }
		.post_view_style_masonry .not_have_thumbnail a:hover {text-decoration:underline;}

		.post_view_style_masonry .not_have_thumbnail h3 { color:#fff; }
		.post_view_style_masonry .not_have_thumbnail p { color:#bbb; }

	.post_view_style_masonry .categories { margin-top:4px; font-size:11px; }
		.post_view_style_masonry .categories a { color:#aaa; }


/* = Responsive 
-------------------------------------------------------------- */

	@media (min-width: 1200px) { 
		.gutter-sizer { width: 43px; }
		.width-sizer { width: 260px; }

		.post_view_style_masonry .post { width:260px; }

	}

	@media (max-width: 979px) {
		body { padding-top:0; }
		.navbar-fixed-top { margin-bottom:0; }
		.nav-collapse, .nav-collapse.collapse { 
				background:#333; 
				z-index: 1000;
				top: 10px;
				box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
				margin-left: -5px;
				margin-right: -5px;
		}
		
		.nav-collapse .nav { margin:0; }
		.nav-collapse .nav>li>a { margin-bottom:0; }
		.nav-collapse .dropdown-menu { display:block; }

		.navbar .nav>li a { border-radius:0; }
		.navbar .nav>li.active a { }
		.navbar .nav>li.active a:hover { background:#111; }
		
		.navbar .nav>li>.dropdown-menu {margin:0px; }
		.navbar .nav>li:hover>.dropdown-menu {margin:0px;  }
			.navbar .nav>li>.dropdown-menu>li>a { padding-left:30px; }
			.navbar .nav>li>.dropdown-menu>li>a:hover { background:#111; }

		#header .nav>li .home {
			background:none;
			text-indent:0;
			width:auto;
			margin-left:0;
			margin-right:0;
		}
		
		#search { width:150px; }
		#search div { padding-top:5px; }
		#search input[type="text"] { width:140px; height:20px; border-bottom-left-radius:3px; border-top-left-radius:3px; box-shadow:none; border:0; }
		#search input[type="submit"] { display:none; }
	}
		 
	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) { 
		.width-sizer { width:220px; }
		.gutter-sizer { width: 32px; }

		.post_view_style_masonry .post { width:220px; }
	}
	 
	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) { 		
		#sub_header {
			padding:30px 0px 30px 0px;
		}	
	}
	
	@media (max-width: 767px),
	@media (max-width: 714px) {	
		#sub_header {
			padding:20px 0px 20px 0px;
		}

		.post_view_style_masonry .post { width:48%; }
		.width-sizer { width:48%; }
		.gutter-sizer { width: 3%; }
		.thumbnail_wrap { overflow:hidden; }
			.thumbnail_wrap img { width:100% !important; }
	}
	 
	/* Landscape phones and down */
	@media (max-width: 480px) {  		
		.post_view_style_masonry .post { width:100%; }
		.width-sizer { width:100%; }
		.gutter-sizer { width: 0; }
	}
